@font-face {
    font-family: "hm";
    src: url("./hm.woff2");
}

* {
    margin: 0;
}

body {
    background-color: #FFF;
    color: #333;
    font-family: "hm";
    font-size: 100%;
}

input {
    font-family: "hm";
}

textarea {
    font-family: "hm";
}